html, body
	// make heaght 100% available
	height: 100%

	// damn finish white flag...
	background-color: #eeeeee

	// set font for whole site
	font-family: 'Open Sans', sans-serif
	font-size: 18px
	font-weight: 300

a:link:not(nav a), a:visited:not(nav a)
	text-decoration: none
	// temp
	color: #123456

a:not(nav a):hover
	// temp
	color: #654321