<nav>
	<ul>
		<li class="active">
			<a href="#">One</a>
		</li>
		<li>
			<a href="#">Two</a>
		</li>
		<li>
			<a href="#">Three</a>
		</li>
		<li>
			<a href="#">Four</a>
		</li>
		<li>
			<a href="#">Five</a>
		</li>
		<li class="flags">
			<ul>
				<li class="uk active">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</li>
				<li class="se">
					<div></div>
					<div></div>
				</li>
				<li class="dk">
					<div></div>
					<div></div>
				</li>
				<li class="fi">
					<div></div>
					<div></div>
				</li>
				<li class="no">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</li>
				<li class="is">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</li>
			</ul>
		</li>
	</ul>
</nav>