<nav>
	<ul>
		<li>
			<a href="#" class="link" data-page="index">Home</a>
		</li>
		<li>
			<a href="#" class="link" data-page="race">Race</a>
		</li>
		<li>
			<a href="#" class="link" data-page="award">Award</a>
		</li>
		<li>
			<a href="#" class="link" data-page="notification">Notification</a>
		</li>
		<li>
			<a href="#" class="link" data-page="organizer">Organizer</a>
		</li>
		<li>
			<a href="#" class="link" data-page="results">Results</a>
		</li>
		<li>
			<a href="#" class="link" data-page="images">Images</a>
		</li>
		<li>
			<a href="#" class="link" data-page="manual-nmrc">Manual NMRC</a>
		</li>
		<li>
			<a href="#" class="link" data-page="links">Links</a>
		</li>
		<li>
			<a href="#" class="link" data-page="more">More</a>
		</li>
		<li class="flags">
			<ul>
				<li class="uk link" data-lang="en"></li>
				<li class="de link" data-lang="de"></li>
				<li class="es link" data-lang="es"></li>
			</ul>
		</li>
	</ul>
</nav>