---
title: Nordic Masters
---

<div class="first">
	<div class="container">
		<div class="text">Nordic Masters</div>
	</div>
	<div class="rower">
		<br>
		<br>
		[bild på roddare påväg rakt från tittaren]
		<br>
		<br>
		[roddaren kommer ro iväg och krympa ju mer man scrollar upp, om det blir bra, behöver en roddare först]
		<br>
		<br>
		[om man inte scrollar ner själv kommer man efter kanske 3 sekunder scrollas ner automatiskt, sedan när navigerar runt på sidan kommer man aldrig mer komma till toppen utan istället visas "navbaren" högst upp]
	</div>
</div>

<div class="wrapper">
	<div class="header-holder">
		<header>
			<div class="container">
				<%= partial "nav" %>
			</div>
		</header>
	</div>
	<div class="container">
		<p>
			<%= lorem.paragraphs 2 %>
		</p>
		<p>
			<%= lorem.paragraphs 1 %>
		</p>
	</div>
</div>
<footer>
	<div class="rower center">
		<br>
		<br>
		[bild på roddare som ror rakt åt antingen höger eller vänster]
	</div>
	<div class="nav-holder">
		<div class="container">
			<%= partial "nav" %>
		</div>
	</div>
</footer>